.confirmAddModal {
    height: 60%;
    width: 40%;
}

.searchBox {
    display: flex;
    padding-bottom:20px;

    justify-content: center;
}
.header{
    text-align: center;
    padding:20px 0;
}

.searchBoxInput {
    width: 100%;
    max-width: 800px;
    padding-right:20px;
    
}