
.clearLink {
    cursor:pointer;
}

.emptyPlaylist {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.playlistHeader {
    font-size:24px;
}

.nowPlaying {
    padding-bottom: 20px;
}

